.fakeimg {
  height: 300px;
  background: #aaa;
}

.title1 {
  text-align: center;
  font-family: "Brush Script MT", cursive;
  color: white;
  font-size: 80px;
}
.bd {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 15px;
}

.m2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: deepskyblue;
  font-size: 50px;
}
.photo {
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 30px;
}
.p1 {
  color: rgb(90, 75, 75);
  font-size: 18px;
  font-family: "Permanent Marker", cursive;
}
.nav-link1 {
  margin-bottom: 10px;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.range {
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  width: 90%;
  height: 100%;
}
.spinner {
  margin: 50px 50px;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
